<div class="contact-info">
    <ul>
        {{#if email}}
        <li class="contact">
            <div class="icons"><i class="fas fa-envelope"></i></div>
            <div class="words">{{email}}</div>
        </li>
        {{/if}}
        {{#if phone}}
        <li class="contact">
            <div class="icons"><i class="fas fa-phone"></i></div>
            <div class="words">{{phone}}</div>
        </li>
        {{/if}}
        {{#if website}}
        <li class="contact">
            <div class="icons"><i class="fas fa-globe"></i></div>
            <div class="words">{{website}}</div>
        </li>
        {{/if}}
        {{#if github}}
        <li class="contact">
            <div class="icons"><i class="fab fa-github"></i></div>
            <div class="words">{{getHandle github}}</div>
        </li>
        {{/if}}
        {{#if linkedin}}
        <li class="contact">
            <div class="icons"><i class="fab fa-linkedin"></i></div>
            <div class="words">{{getHandle linkedin}}</div>
        </li>
        {{/if}}
        {{#if location}}
        <li class="contact">
            <div class="icons"><i class="fas fa-map-marker-alt"></i></div>
            <div class="words">{{location}}</div>
        </li>
        {{/if}}
    </ul>
</div>